Repository tamm/spark-web: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,md,js,jsx,json}": [
    "yarn prettier --write"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "yarn eslint --fix"
  ]
}

Fix next config (#183)
  docs/next.config.mjs
  docs/package.json
  yarn.lock
Due: yarn prettier --write

Spread consumer props onto Text (#192)
  .changeset/funny-toys-doubt.md
  packages/text/README.md
  packages/text/src/Text.tsx
Due: yarn prettier --write, yarn eslint --fix

PasswordInput: remove `type` prop (#194)
  .changeset/fast-phones-cheat.md
  packages/password-input/src/PasswordInput.tsx
Due: yarn prettier --write, yarn eslint --fix

Export `visuallyHiddenStyles` (#193)
  .changeset/fifty-dragons-camp.md
  packages/a11y/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Update packages (#197)
  .changeset/odd-news-camp.md
  docs/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

Fix types for Alert components icon props and allow icons to accept data attributes (#198)
  .changeset/eighty-geese-pump.md
  .changeset/large-apricots-rest.md
  packages/alert/src/Alert.test.tsx
  packages/alert/src/Alert.tsx
  packages/icon/README.md
  packages/icon/src/createIcon.tsx
Due: yarn prettier --write, yarn eslint --fix

feat(example): NO-TICKET add basic example of setting up a next project
  examples/basic-example-app/.eslintrc.json
  examples/basic-example-app/.gitignore
  examples/basic-example-app/README.md
  examples/basic-example-app/components/logo.tsx
  examples/basic-example-app/next.config.mjs
  examples/basic-example-app/package.json
  examples/basic-example-app/pages/_app.tsx
  examples/basic-example-app/pages/_document.tsx
  examples/basic-example-app/pages/index.tsx
  examples/basic-example-app/public/favicon.ico
  examples/basic-example-app/public/favicon.png
  examples/basic-example-app/public/favicon.svg
  examples/basic-example-app/tsconfig.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Testing snapshot releases (#211)
  .github/workflows/snapit.yml
Due: none

Add guide on using Spark Web with example site (#202)
  .gitignore
  docs/contentlayer.config.ts
  docs/package.json
  docs/pages/_app.tsx
  docs/pages/guide/[slug].tsx
  docs/pages/guide/getting-started.md
  docs/pages/index.tsx
  examples/example-site/.eslintrc.json
  examples/example-site/.gitignore
  examples/example-site/README.md
  examples/example-site/components/footer.tsx
  examples/example-site/components/header.tsx
  examples/example-site/components/layout.tsx
  examples/example-site/components/vectors/app-stores.tsx
  examples/example-site/components/vectors/logo.tsx
  examples/example-site/components/vectors/social.tsx
  examples/example-site/lib/constants.ts
  examples/example-site/lib/use-link-icon-styles.ts
  examples/example-site/next.config.mjs
  examples/example-site/package.json
  examples/example-site/pages/404.tsx
  examples/example-site/pages/_app.tsx
  examples/example-site/pages/_document.tsx
  examples/example-site/pages/index.tsx
  examples/example-site/public/favicon.ico
  examples/example-site/public/favicon.png
  examples/example-site/public/favicon.svg
  examples/example-site/tsconfig.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Export types for Analytics package (#199)
  .changeset/thirty-beds-bathe.md
  packages/analytics/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Add border radius to InputContainer (#201)
  packages/text-input/src/InputContainer.tsx
Due: yarn prettier --write, yarn eslint --fix

Fix typo in Dropzone displayName (#207)
  .changeset/proud-dolphins-remember.md
  packages/dropzone/src/dropzone.tsx
Due: yarn prettier --write, yarn eslint --fix

Remove redundant type for children prop on Alert (#203)
  .changeset/silly-books-admire.md
  packages/alert/src/Alert.tsx
Due: yarn prettier --write, yarn eslint --fix

Export types from Alert package (#205)
  .changeset/gorgeous-colts-provide.md
  packages/alert/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Export types from Button package (#204)
  .changeset/bright-jobs-itch.md
  packages/button/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Heading: Add tone prop and spread in consumer props (#212)
  .changeset/seven-melons-destroy.md
  packages/heading/README.md
  packages/heading/src/Heading.tsx
  packages/heading/src/useHeading.ts
Due: yarn prettier --write, yarn eslint --fix

Move next out of dependencies and into devDependencies and peerDependencies (#206)
  .changeset/mean-tables-wait.md
  packages/next-utils/package.json
Due: yarn prettier --write

Add plop.js to scaffold out new packages (#215)
  .prettierignore
  package.json
  plop-templates/component/README.md.hbs
  plop-templates/component/package.json.hbs
  plop-templates/component/src/index.ts.hbs
  plop-templates/component/src/{{packageName}}.stories.tsx.hbs
  plop-templates/component/src/{{packageName}}.test.tsx.hbs
  plop-templates/component/src/{{packageName}}.tsx.hbs
  scripts/plopfile.mjs
  yarn.lock
Due: yarn prettier --write

tech(no-ticket) use TS for storybook config & add no-cache storybook workaround (#217)
  README.md
  docs/.storybook/main.ts
  docs/.storybook/manager.ts
  docs/.storybook/preview.tsx
  docs/.storybook/theme.ts
  docs/package.json
Due: yarn prettier --write, yarn eslint --fix

Update plop templates (#221)
  plop-templates/component/README.md.hbs
  plop-templates/component/package.json.hbs
  plop-templates/component/src/{{packageName}}.stories.tsx.hbs
  plop-templates/component/src/{{packageName}}.test.tsx.hbs
  plop-templates/component/src/{{packageName}}.tsx.hbs
Due: none

bug(sprk-104) fix storybook not loading assets on the correct baseUrl & upgrade to webpack 5 (#223)
  README.md
  docs/.env.development
  docs/.env.production
  docs/.storybook/main.ts
  docs/.storybook/manager-head.html
  docs/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Fix typo in plop template (#225)
  plop-templates/component/package.json.hbs
Due: none

Rewrite docs for Box component (#227)
  packages/box/README.md
Due: yarn prettier --write

Update docs for typography (#232)
  docs/pages/_app.tsx
  docs/pages/reference/colours.tsx
  docs/pages/reference/typography.tsx
  packages/heading/README.md
  packages/text/README.md
Due: yarn prettier --write, yarn eslint --fix

Make code examples shorter for Box (#229)
  packages/box/README.md
Due: yarn prettier --write

Update Spinner docs (#230)
  packages/spinner/README.md
Due: yarn prettier --write

Fix font weights in code examples (#231)
  packages/button/README.md
  packages/dropzone/README.md
  packages/text-list/README.md
Due: yarn prettier --write

Remove types field in template (#233)
  plop-templates/component/package.json.hbs
Due: none

Sprk 43 readme update (#224)
  README.md
Due: yarn prettier --write
