Repository tamm/spark-web: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

Feat/password input component (#90)
  .changeset/plenty-kings-dress.md
  packages/password-input/README.md
  packages/password-input/package.json
  packages/password-input/src/IconButton.tsx
  packages/password-input/src/PasswordInput.stories.tsx
  packages/password-input/src/PasswordInput.tsx
  packages/password-input/src/index.ts
  packages/password-input/src/useIconButtonStyles.ts
Due: yarn prettier --write, yarn eslint --fix

Refactor useFieldContext to return tuple (#108)
  .changeset/mighty-kiwis-reply.md
  .changeset/three-tomatoes-kick.md
  packages/combobox/src/combobox.tsx
  packages/currency-input/src/CurrencyInput.tsx
  packages/dropzone/src/dropzone.tsx
  packages/field/src/Field.tsx
  packages/field/src/context.ts
  packages/field/src/index.ts
  packages/select/src/Select.test.tsx
  packages/select/src/Select.tsx
  packages/text-area/src/text-area.tsx
  packages/text-input/src/TextInput.tsx
Due: yarn prettier --write, yarn eslint --fix

Move InputContainer to it's own file and document it (#107)
  packages/password-input/src/PasswordInput.tsx
  packages/text-input/README.md
  packages/text-input/src/InputContainer.tsx
  packages/text-input/src/TextInput.tsx
  packages/text-input/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Add recursively nested main nav support & expose the demo page there (#114)
  docs/components/layout.tsx
  docs/components/sidebar.tsx
  docs/components/sidebar/context.tsx
  docs/components/sidebar/index.ts
  docs/components/sidebar/nav-items.tsx
  docs/components/sidebar/sidebar.tsx
  docs/components/sidebar/types.ts
  docs/pages/_app.tsx
Due: yarn prettier --write, yarn eslint --fix

Update Babel config for Playroom (#116)
  babel.config.js
  babel.config.json
  docs/playroom.config.js
Due: yarn prettier --write, yarn eslint --fix

Update InputContainer docs (#112)
  packages/text-input/README.md
  packages/text-input/src/InputContainer.tsx
Due: yarn prettier --write, yarn eslint --fix

feat(combobox): expose isLoading prop (#115)
  .changeset/short-brooms-kneel.md
  packages/combobox/README.md
  packages/combobox/src/combobox.tsx
  packages/combobox/src/react-select-overrides.tsx
Due: yarn prettier --write, yarn eslint --fix

Update ESLint and Prettier dependencies (#109)
  package.json
  yarn.lock
Due: yarn prettier --write

Update Emotion dependencies (#110)
  .changeset/mighty-games-switch.md
  docs/package.json
  packages/a11y/package.json
  packages/accordion/package.json
  packages/alert/package.json
  packages/box/package.json
  packages/button/package.json
  packages/checkbox/package.json
  packages/columns/package.json
  packages/combobox/package.json
  packages/container/package.json
  packages/control-label/package.json
  packages/core/package.json
  packages/currency-input/package.json
  packages/divider/package.json
  packages/dropzone/package.json
  packages/field/package.json
  packages/fieldset/package.json
  packages/float-input/package.json
  packages/heading/package.json
  packages/hidden/package.json
  packages/icon/package.json
  packages/inline/package.json
  packages/modal-dialog/package.json
  packages/nav-link/package.json
  packages/password-input/package.json
  packages/radio/package.json
  packages/row/package.json
  packages/select/package.json
  packages/spinner/package.json
  packages/ssr/package.json
  packages/stack/package.json
  packages/text-area/package.json
  packages/text-input/package.json
  packages/text-link/package.json
  packages/text-list/package.json
  packages/text/package.json
  packages/theme/package.json
  yarn.lock
Due: yarn prettier --write

Fix typo in docs (#117)
  packages/combobox/README.md
Due: yarn prettier --write

Update all the things (#113)
  .changeset/cold-mice-explain.md
  .changeset/stupid-crabs-kick.md
  docs/package.json
  package.json
  packages/a11y/package.json
  packages/combobox/package.json
  packages/core/package.json
  packages/next-utils/package.json
  packages/theme/package.json
  yarn.lock
Due: yarn prettier --write

Load fonts from Brighte subdomain (#104)
  docs/.storybook/preview.js
  docs/pages/_app.tsx
  docs/pages/_document.tsx
  docs/playroom/frame.tsx
  packages/core/src/fonts.tsx
Due: yarn prettier --write, yarn eslint --fix

Fix playroom (#121)
  docs/package.json
  docs/playroom.config.js
Due: yarn prettier --write, yarn eslint --fix

Control spacing of Fieldset children (#122)
  .changeset/rotten-monkeys-smash.md
  packages/fieldset/package.json
  packages/fieldset/src/fieldset.tsx
Due: yarn prettier --write, yarn eslint --fix

Tighten up spacing for Field (#123)
  .changeset/two-islands-fold.md
  packages/field/src/Field.tsx
Due: yarn prettier --write, yarn eslint --fix

Fix typo in docs (#124)
  packages/text-input/README.md
Due: yarn prettier --write

Fix the `reserve-space` prop reserving the wrong amount of space (#127)
  packages/field/src/Field.tsx
Due: yarn prettier --write, yarn eslint --fix

Load fonts from Brighte subdomain (#126)
  .changeset/pretty-cheetahs-remain.md
  packages/core/src/fonts.tsx
  packages/core/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Fix collapsing gap on Stack in Field (#128)
  .changeset/lovely-dryers-argue.md
  packages/field/src/Field.tsx
Due: yarn prettier --write, yarn eslint --fix

Remove inline from Legend (#129)
  .changeset/forty-shoes-wave.md
  packages/fieldset/src/fieldset.tsx
Due: yarn prettier --write, yarn eslint --fix

Update Playroom and Storybook dev env vars (#135)
  docs/.env.development
Due: none

Pass through data-attributes and a11y props to underlying input in Combobox (#133)
  .changeset/wet-rivers-sell.md
  packages/combobox/README.md
  packages/combobox/package.json
  packages/combobox/src/combobox.test.tsx
  packages/combobox/src/combobox.tsx
  packages/combobox/src/react-select-overrides.tsx
Due: yarn prettier --write, yarn eslint --fix

feat(combobox): Added group type to items (#134)
  packages/combobox/README.md
  packages/combobox/src/combobox.tsx
  packages/combobox/src/react-select-overrides.tsx
Due: yarn prettier --write, yarn eslint --fix

Extract props data for use in search (#136)
  docs/components/search.tsx
  docs/contentlayer.config.ts
  docs/package.json
  docs/utils/generate-props.ts
  docs/utils/with-search-index.mjs
  package.json
  patches/react-docgen-typescript+2.2.2.patch
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Update docs
  packages/spinner/README.md
Due: yarn prettier --write

Update imports
  packages/spinner/src/Spinner.test.tsx
Due: yarn prettier --write, yarn eslint --fix

Stop mocking utility
  packages/spinner/src/Spinner.test.tsx
Due: yarn prettier --write, yarn eslint --fix

Check for animationTarget
  packages/utils/src/use-synchronized-animation.ts
Due: yarn prettier --write, yarn eslint --fix

Revert "Check for animationTarget"
  packages/utils/src/use-synchronized-animation.ts
Due: yarn prettier --write, yarn eslint --fix

Revert "Stop mocking utility"
  packages/spinner/src/Spinner.test.tsx
Due: yarn prettier --write, yarn eslint --fix

Revert "Update imports"
  packages/spinner/src/Spinner.test.tsx
Due: yarn prettier --write, yarn eslint --fix

Revert "Update docs"
  packages/spinner/README.md
Due: yarn prettier --write

Check for `animationTarget` in `useSynchronizedAnimation` (#139)
  .changeset/beige-otters-lick.md
  packages/spinner/README.md
  packages/spinner/src/Spinner.test.tsx
  packages/utils/src/use-synchronized-animation.ts
Due: yarn prettier --write, yarn eslint --fix

Document template prop for Columns component (#138)
  packages/columns/README.md
Due: yarn prettier --write

Suppress Webpack `PackFileCacheStrategy` warnings (#137)
  docs/next.config.mjs
Due: none

Feature: add fieldset to checkbox and radio docs (#119)
  .changeset/sixty-suns-fry.md
  packages/checkbox/README.md
  packages/radio/README.md
Due: yarn prettier --write

Add type="button" to `IconButton` (#143)
  .changeset/curvy-ducks-appear.md
  packages/password-input/src/IconButton.tsx
Due: yarn prettier --write, yarn eslint --fix

Remove props spreading from spark components (#99)
  .changeset/tough-spies-wink.md
  packages/columns/src/Columns.tsx
  packages/currency-input/src/CurrencyInput.tsx
  packages/field/src/Field.tsx
  packages/heading/src/Heading.tsx
  packages/modal-dialog/src/content-dialog.tsx
  packages/radio/src/radio-group.tsx
  packages/row/src/Row.tsx
  packages/text-list/src/TextList.tsx
Due: yarn prettier --write, yarn eslint --fix

feat(spinner): make spinner accessible (#142)
  .changeset/thirty-eels-perform.md
  packages/spinner/package.json
  packages/spinner/src/Spinner.test.tsx
  packages/spinner/src/Spinner.tsx
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: any of: **/*.{ts,tsx,md,js,jsx,json}
  yarn eslint --fix: any of: **/*.{ts,tsx,js,jsx}
