Repository tamm/spark-web: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

Patch for loader animation (#63)
  .changeset/seven-suns-explode.md
  packages/spinner/src/Spinner.tsx
Due: yarn prettier --write, yarn eslint --fix

Update @untitled-docs/live-code package to work with contentlayer (#61)
  docs/contentlayer.config.ts
  docs/package.json
  package.json
  patches/@untitled-docs+live-code+0.3.0.patch
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Fix clean scripts (#64)
  package.json
Due: yarn prettier --write

Add files array to package.json (#52)
  .changeset/quick-stingrays-worry.md
  packages/a11y/package.json
  packages/accordion/package.json
  packages/alert/package.json
  packages/analytics/package.json
  packages/box/package.json
  packages/button/package.json
  packages/checkbox/package.json
  packages/columns/package.json
  packages/container/package.json
  packages/control-label/package.json
  packages/core/package.json
  packages/divider/package.json
  packages/dropzone/package.json
  packages/field/package.json
  packages/fieldset/package.json
  packages/float-input/package.json
  packages/heading/package.json
  packages/hidden/package.json
  packages/icon/package.json
  packages/inline/package.json
  packages/link/package.json
  packages/modal-dialog/package.json
  packages/nav-link/package.json
  packages/next-utils/package.json
  packages/radio/package.json
  packages/row/package.json
  packages/select/package.json
  packages/spinner/package.json
  packages/ssr/package.json
  packages/stack/package.json
  packages/text-area/package.json
  packages/text-input/package.json
  packages/text-link/package.json
  packages/text-list/package.json
  packages/text/package.json
  packages/theme/package.json
  packages/utils/internal/package.json
  packages/utils/package.json
  packages/utils/ts/package.json
Due: yarn prettier --write

Update lint-staged config (#68)
  .husky/.gitignore
  .lintstagedrc
  package.json
Due: yarn prettier --write

Fix/sprk 58 fix math error in dropzone component (#66)
  .changeset/wild-snails-judge.md
  packages/dropzone/src/dropzone.tsx
Due: yarn prettier --write, yarn eslint --fix

Feat/currency input component (#50)
  .changeset/chilled-foxes-compete.md
  packages/currency-input/README.md
  packages/currency-input/package.json
  packages/currency-input/src/CurrencyInput.tsx
  packages/currency-input/src/currencySymbolMap.ts
  packages/currency-input/src/index.ts
  packages/field/src/index.ts
  packages/float-input/src/FloatInput.tsx
  packages/float-input/src/index.ts
  packages/text-input/README.md
  packages/text-input/src/InputAdornment.tsx
  packages/text-input/src/TextInput.tsx
  packages/text-input/src/childrenToAdornments.tsx
  packages/text-input/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

fix: spelling error in button (#59)
  .changeset/cold-pugs-watch.md
  packages/button/src/Button.tsx
Due: yarn prettier --write, yarn eslint --fix

Flexsearch with search index and search component (#62)
  docs/components/header.tsx
  docs/next.config.mjs
  docs/package.json
  docs/scripts/generate-components-index.js
  docs/scripts/generate-search-index.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

docs: updated all bitbucket reference links in component README docs (#58)
  packages/alert/README.md
  packages/box/README.md
  packages/columns/README.md
  packages/container/README.md
  packages/divider/README.md
  packages/field/README.md
  packages/float-input/README.md
  packages/hidden/README.md
  packages/icon/README.md
  packages/inline/README.md
  packages/modal-dialog/README.md
  packages/row/README.md
  packages/select/README.md
  packages/stack/README.md
  packages/text-area/README.md
  packages/text-link/README.md
  packages/text-list/README.md
Due: yarn prettier --write

docs: added input adornment section for float input component docs (#69)
  packages/float-input/README.md
  packages/text-input/README.md
Due: yarn prettier --write

Replace "Open in GitHub" link with "Edit this page" (#70)
  docs/pages/package/[slug].tsx
Due: yarn prettier --write, yarn eslint --fix

Update React imports (#71)
  docs/components/example-helpers.tsx
  docs/components/layout.tsx
  docs/components/mdx-components/mdx-components.tsx
  docs/components/mdx-components/mdx-table.tsx
  docs/components/mdx-components/react-live.tsx
  docs/components/sidebar.tsx
  docs/playroom/frame.tsx
  packages/a11y/src/idContext.tsx
  packages/accordion/src/Accordion.tsx
  packages/alert/src/Alert.tsx
  packages/button/src/Button.tsx
  packages/control-label/src/control-label.tsx
  packages/dropzone/src/dropzone.tsx
  packages/modal-dialog/src/content-dialog.tsx
  packages/select/src/Select.tsx
  packages/utils/src/ts/forwardRefWithAs.ts
  packages/utils/src/ts/utility-types.ts
Due: yarn prettier --write, yarn eslint --fix

Remove manual MDX bundler setup (#73)
  docs/components/mdx-components/mdx-content.tsx
  docs/contentlayer.config.ts
  docs/package.json
  docs/pages/index.tsx
  docs/pages/package/[slug].tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Add rehype-slug plugin so sidebar links work (#76)
  docs/contentlayer.config.ts
Due: yarn prettier --write, yarn eslint --fix

Add loading state to button (#67)
  packages/button/README.md
  packages/button/package.json
  packages/button/src/Button.tsx
  packages/button/src/ButtonLink.tsx
  packages/button/src/resolveButtonChildren.tsx
  packages/button/src/types.ts
Due: yarn prettier --write, yarn eslint --fix

Add changeset for Button loading state PR (#77)
  .changeset/smooth-buses-rule.md
Due: yarn prettier --write

Sprk 56 build data attributes util for all components (#75)
  packages/accordion/README.md
  packages/accordion/src/Accordion.tsx
  packages/alert/src/Alert.test.tsx
  packages/alert/src/Alert.tsx
  packages/box/src/Box.test.tsx
  packages/box/src/Box.tsx
  packages/button/README.md
Due: yarn prettier --write, yarn eslint --fix

test spinner (#74)
  packages/spinner/src/Spinner.test.tsx
Due: yarn prettier --write, yarn eslint --fix

feature: add in contributing docs as is (#80)
  CONTRIBUTING.md
  README.md
Due: yarn prettier --write

hotfix: typo in docs
  README.md
Due: yarn prettier --write

fix (#81)
  README.md
Due: yarn prettier --write

SPRK-56 - Add Changelog for missed components (#84)
  .changeset/small-eyes-draw.md
Due: yarn prettier --write

Feature/sprk 56 components data attr (#83)
  .changeset/early-pumpkins-tan.md
  packages/accordion/src/Accordion.tsx
  packages/box/README.md
  packages/checkbox/README.md
  packages/checkbox/src/checkbox-primitive.tsx
  packages/checkbox/src/checkbox.test.tsx
  packages/checkbox/src/checkbox.tsx
  packages/checkbox/src/types.ts
  packages/columns/README.md
  packages/columns/src/Columns.tsx
  packages/currency-input/README.md
  packages/currency-input/src/CurrencyInput.tsx
  packages/fieldset/README.md
  packages/fieldset/src/fieldset.test.tsx
  packages/fieldset/src/fieldset.tsx
  packages/heading/README.md
  packages/heading/src/Heading.tsx
  packages/text/src/Text.tsx
Due: yarn prettier --write, yarn eslint --fix

SPRK-10 Add combobox (#78)
  .changeset/nasty-wolves-smoke.md
  .gitignore
  docs/package.json
  packages/combobox/README.md
  packages/combobox/package.json
  packages/combobox/src/combobox.stories.tsx
  packages/combobox/src/combobox.tsx
  packages/combobox/src/index.ts
  packages/combobox/src/react-select-overrides.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Export types for modal dialog (#86)
  .changeset/shaggy-walls-know.md
  packages/modal-dialog/src/content-dialog.tsx
  packages/modal-dialog/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Feature/sprk 56 final component data attributes (#87)
  .changeset/nine-ladybugs-stare.md
  packages/currency-input/src/CurrencyInput.tsx
  packages/inline/README.md
  packages/inline/src/Inline.test.tsx
  packages/inline/src/Inline.tsx
  packages/link/README.md
  packages/link/src/Link.test.tsx
  packages/link/src/linkContext.tsx
  packages/modal-dialog/README.md
  packages/modal-dialog/src/content-dialog.tsx
  packages/nav-link/README.md
  packages/nav-link/src/nav-link.test.tsx
  packages/nav-link/src/nav-link.tsx
  packages/radio/README.md
  packages/radio/src/radio-primitive.tsx
  packages/radio/src/radio.test.tsx
  packages/radio/src/radio.tsx
  packages/radio/src/types.ts
  packages/row/README.md
  packages/row/src/Row.tsx
  packages/select/src/Select.tsx
  packages/spinner/README.md
  packages/spinner/src/Spinner.test.tsx
  packages/spinner/src/Spinner.tsx
  packages/stack/README.md
  packages/stack/src/Stack.tsx
  packages/text-area/src/text-area.tsx
  packages/text-input/src/TextInput.tsx
  packages/text-link/src/TextLink.tsx
  packages/text-list/src/TextList.tsx
  packages/text/README.md
  packages/text/src/Text.tsx
Due: yarn prettier --write, yarn eslint --fix

Add TOC observer (#88)
  docs/components/content/context.ts
  docs/components/content/index.tsx
  docs/components/content/intersection-observer.tsx
  docs/components/content/toc-context.tsx
  docs/components/mdx-components/mdx-components.tsx
Due: yarn prettier --write, yarn eslint --fix

Feature/sprk 56 pr review updates (#89)
  .changeset/nine-ladybugs-stare.md
  packages/link/src/Link.test.tsx
Due: yarn prettier --write, yarn eslint --fix

Update typography (#65)
  .changeset/funny-parents-count.md
  docs/components/content/index.tsx
  docs/components/example-helpers.tsx
  docs/components/mdx-components/react-live.tsx
  docs/pages/_document.tsx
  docs/pages/colours.tsx
  packages/a11y/README.md
  packages/a11y/src/VisuallyHidden.stories.tsx
  packages/alert/src/Alert.tsx
  packages/button/src/resolveButtonChildren.tsx
  packages/checkbox/src/Checkbox.stories.tsx
  packages/core/src/fonts.tsx
  packages/core/src/index.ts
  packages/field/src/Field.tsx
  packages/fieldset/src/fieldset.tsx
  packages/float-input/src/FloatInput.stories.tsx
  packages/heading/src/useHeading.ts
  packages/hidden/src/Hidden.stories.tsx
  packages/nav-link/README.md
  packages/nav-link/src/nav-link.tsx
  packages/radio/src/Radio.stories.tsx
  packages/select/src/Select.stories.tsx
  packages/text-input/src/TextInput.stories.tsx
  packages/text-link/src/useTextLink.ts
  packages/text/README.md
  packages/text/src/Strong.tsx
  packages/theme/package.json
  packages/theme/src/tokens.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Fix alignment of icon adornments (#94)
  .changeset/afraid-worms-tap.md
  packages/text-input/src/InputAdornment.tsx
Due: yarn prettier --write, yarn eslint --fix

Bugfix/sprk 56 currency input data attr fix (#93)
  .changeset/funny-knives-do.md
  packages/currency-input/src/CurrencyInput.tsx
Due: yarn prettier --write, yarn eslint --fix

Feature/search optimisation (#72)
  .changeset/rotten-starfishes-ring.md
  docs/components/header.tsx
  docs/components/search.tsx
  docs/contentlayer.config.ts
  docs/next.config.mjs
  docs/package.json
  docs/scripts/generate-search-index.js
  docs/utils/with-search-index.mjs
  package.json
  packages/text-input/src/TextInput.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Add aria-invalid attribute to field items (#98)
  .changeset/angry-boats-cough.md
  packages/combobox/src/combobox.tsx
  packages/select/src/Select.tsx
  packages/text-input/src/TextInput.tsx
Due: yarn prettier --write, yarn eslint --fix

feat(combobox): expose getOptionLabel and getOptionValue props (#96)
  .changeset/bright-tables-tease.md
  packages/combobox/README.md
  packages/combobox/src/combobox.tsx
Due: yarn prettier --write, yarn eslint --fix

Remove baseUrl and paths from docs tsconfig (#92)
  docs/components/content/toc-context.tsx
  docs/components/mdx-components/mdx-components.tsx
  docs/contentlayer.config.ts
  docs/pages/_app.tsx
  docs/pages/index.tsx
  docs/pages/package/[slug].tsx
  docs/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix

Docs/sprk 44 issue template creation (#97)
  .github/ISSUE_TEMPLATE/BUG_TEMPLATE.yml
  .github/ISSUE_TEMPLATE/FEATURE_TEMPLATE.yml
Due: none

SPRK-45 PR Template Init (#100)
  .github/ISSUE_TEMPLATE/BUG_TEMPLATE.yml
  .github/ISSUE_TEMPLATE/FEATURE_TEMPLATE.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: yarn prettier --write

Fix TextInput type (#105)
  .changeset/slimy-spiders-sell.md
  packages/text-input/src/TextInput.tsx
Due: yarn prettier --write, yarn eslint --fix

Update focus and disabled styles for form elements (#101)
  .changeset/empty-birds-flash.md
  .changeset/three-squids-accept.md
  .changeset/tiny-bananas-doubt.md
  packages/a11y/src/focusRing.ts
  packages/select/src/Select.tsx
  packages/text-area/src/text-area.tsx
  packages/text-input/src/TextInput.tsx
  packages/text-input/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: any of: **/*.{ts,tsx,md,js,jsx,json}
  yarn eslint --fix: any of: **/*.{ts,tsx,js,jsx}
